.tag{
  display: flex;
  width: 100%;
  padding: 4px;
  justify-content: center;
  margin-bottom: 10px;
  .input{
    width: 100%;
    margin-right: 6px;
    color: #454545;
    background: #a5a5a5;
  }
}